<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰등록 페이지</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

<script>
    $(function(){

        $("#addButton").on("click", function(){
            alert("등록 되었습니다.");
        })


        $(".starRev span").click(function () {
            var index = $(".starRev span").index(this);
            console.log(index);


            for (var i = 0; i < 5; i++) {

                $(this).parent().children('span').removeClass('on');
                $(this).addClass('on').prevAll('span').addClass('on');
            }
            $("#reviewScore").val(index + 1);

            return false;


        });
        /**
         * 단일파일 업로드
         */
        function readImage(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = (e) => {
                    const previewImage = document.getElementById('previewImage');
                    previewImage.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
// 이벤트 리스너
        document.getElementById('file').addEventListener('change', (e) => {
            readImage(e.target);
        })

    });
</script>
<style>
    .starR {
        background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
        background-size: auto 100%;
        width: 20px;
        height: 20px;
        display: inline-block;
        text-indent: -9999px;
        cursor: pointer;
    }

    .starR.on {
        background-position: 0 0;

    }

    textarea {
        width: 365%;
        height: 200px;
        padding: 10px;
        box-sizing: border-box;
        border: solid 2px #000000;
        border-radius: 5px;
        font-size: 16px;
        resize: vertical;
    }
</style>
</head>
<body>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">리뷰 등록</div>
                <div class="card-body">

                    <form class="form-horizontal" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <div style=" display: flex; align-items: center;">
                                <a th:href="@{/user/product/detail(id=${product.productId})}"><img style="width: auto; height: auto; max-width: 200px; max-height: 200px;" th:src="${product.urlFilename}" class="img-thumbnail" alt="Cinque Terre"></a>
                                <h5 th:text="${product.productName}">상품이름</h5>&nbsp;
                                <h5 th:text="${option}">사이즈</h5>
                            </div>
                        </div>

                        <p class="cols-sm-2 control-label">별점을 매겨주세요</p>
                        <div class="starRev">
                            <span class="starR on"></span>
                            <span class="starR"></span>
                            <span class="starR"></span>
                            <span class="starR"></span>
                            <span class="starR"></span>
                            <input type="hidden" name="reviewScore" id="reviewScore" value="1"/>
                        </div>

                        <div class="form-group" style="margin-top: 3px;">
                            <label for="file" class="cols-sm-2 control-label">상품 이미지</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="file" class="form-control" name="file" id="file" required/>
                                </div>
                            </div>
                        </div>
                        <img style="width: 500px;" id="previewImage">
                        <div class="form-group" style="margin-top: 15px;">
                            <label class="cols-sm-2 control-label">상품에 대한 평가를 작성해 주세요.</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <label>
                                        <textarea name="text" required></textarea>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <button type="submit" id="addButton" class="btn btn-primary btn-lg btn-block login-button">등록</button>
                        </div>
                        <input type="hidden" name="productId" th:value="${product.productId}"/>
                        <input type="hidden" name="productSize" th:value="${option}"/>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>