<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 초기화</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
<script>
    $(function(){
        $('form').submit(function(){
            var password = $(this).find('input[name=password]').val();
            var confirm = $(this).find('input[name=confirm]').val();

            if(password != confirm){
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            }
        })
    });
</script>
</head>
<body>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">비밀번호 초기화</div>
                <div class="card-body">
                    <div th:if="${result}">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">비밀번호 입력</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm" class="cols-sm-2 control-label">확인 비밀번호 입력</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">비밀번호 초기화</button>
                        </div>
                        <div>
                            <a href="/user/login">로그인</a>
                            <a class="ml-3" href="/">메인으로</a>
                        </div>

                    </form>
                </div>
                <div th:if="${result eq false}">
                    <p>입력값이 유효하지 않습니다.</p>
                    <div>
                        <a href="/">메인으로</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>